body{
    height: 100vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}
.main{
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    position:absolute;
    height:60vh;
    width: 40vh;
    background-color: #191717;
}
#display{
    position: absolute;
    left:15px;
    bottom:85%;
    border-radius: 20px;
    height:9%;
    width:90%;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}
#calc{
    display: flex;
    position: absolute;
    top:20%;
    flex-direction: column;
    gap:10px;
    position: absolute;
    
}
button{
     height: 70px;
     width: 70px;
     border: 2px solid black;
     border-radius: 50%;
     font-size: 30px;
     font-family: 'Poppins', sans-serif;
     background-color: #7D7C7C;
     color: white;
}
.botn{
    display: flex;
    gap: 10px;
}